:root {
  --primary: hsl(246, 80%, 60%);
  --dark: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --title-font: 18px;
  --font-fam: "Rubik", sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-fam);
}

main {
  background-color: var(--dark);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pale-blue);
}

.wrapper {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1.5rem;
}

.profile-card {
  background-color: var(--dark-blue);
  border-radius: 1rem;
}

.profile-main {
  padding: 1.5rem;
  background-color: var(--primary);
  border-radius: 1rem;
  color: var(--pale-blue);
}

.profile-img {
  /* margin-top: 1rem; */
}
.profile-img img {
  height: 3.5rem;
  border: 0.2rem solid #fff;
  border-radius: 4rem;
}

.profile-content {
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}

.profile-menu {
  /* gap: 1rem; */
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--desaturated-blue);
}

.profile-menu p:hover {
  color: var(--pale-blue);
}

.profile-menu p {
  margin-top: 1rem;
  cursor: pointer;
}
.tracker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  background-color: var(--dark-blue);
  border-radius: 1rem;
}
/* how to make css grid? */

@media (max-width: 900px) {
  .wrapper {
    max-width: 70%;
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .tracker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .profile-menu {
    /* gap: 1rem; */
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1rem;
    color: var(--desaturated-blue);
  }
  .profile-content {
    text-align: center;
  }
  .profile-img {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 376px) {
  .wrapper {
    margin: 2rem 0rem;
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .tracker {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .profile-menu {
    /* gap: 1rem; */
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1rem;
    color: var(--desaturated-blue);
  }
  .prof {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  .profile-img img {
    height: 3.5rem;
    border: 0.2rem solid #fff;
    border-radius: 4rem;
  }

  .profile-content {
    margin-top: 0rem;
    padding-bottom: 0rem;
    text-align: left;
  }
  .profile-content h1 {
    font-size: 1rem;
  }
  .profile-content p {
    font-size: 0.6rem;
  }
}
